ul.nav_bar {
    width: 100%;
    list-style: none;
    top: 0px;
    position: fixed;
    z-index: 1000;
}

li.header_name {
    float: left;
    margin: 20px 30px;
    font-family: 'Orbitron';
    font-size: 30px;
    font-weight: lighter;
    color: lightgray;
}

li.header_name a:hover {
    color: black;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
    -moz-transition: color 1.5s;
}

a.header {
    display:block;
    text-decoration: none;
    color: lightgray;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
    -moz-transition: color 1.5s;
}

a.header:visited {
    color: lightgray;
}

li.about {
    position: fixed;
    right: 5%;
    width: 50px;
    margin: 30px 20px 20px 20px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: lighter;
    color: lightgray;
}

li.about a:hover {
    color: black;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
    -moz-transition: color 1.5s;
}

a.about {
    display: block;
    text-decoration: none;
    color: lightgray;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
    -moz-transition: color 1.5s;
}

a.about:visited {
    color: lightgray;
}

.about_container {
    display: none;
    background-color: #1a1a1a;
    margin: 40px 20px;
    position: fixed;
    top: 45%;
    left: 47%;
    height: 2px;
    width: 2px;
    border-radius: 5px;
    z-index: 2;
    overflow-y: auto;
}
p.about_body{
    display: none;
    font-family: "Raleway";
    font-weight: lighter;
    font-size: 15px;
    width: 65%;
    color: whitesmoke;
    margin: 40px 20px 30px 20px;
    float: left;
}
p.about_aside{
    font-family: "Orbitron";
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    width: 23%;
    color: whitesmoke;
    margin: 40px 30px 30px 20px;
    float: left;
    display: none;
}
img.about_photo{
    float: left;
    right: 50%;
    height: 180px;
    width: 180px;
    margin: 40px 30px 10px 220px;
    border-radius: 50%;
    border: 6px solid #1a1a1a;
    box-shadow: 0 0 0 1px whitesmoke;
    display: none;
}
.main_body {
    margin: 4px 20px;
    position: fixed;
    top: 30%;
    left: 40%;
    height: 400px;
    width: 600px;
}

h1.body_text_header {
    font-family: "Raleway";
    font-size: 50px;
    color: #1a1a1a;
}